<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Header fragment containing css and js imports -->
	<div th:replace="/fragments/header :: header-css"></div>
	<title>Travel Blog - Post details</title>
</head>
<body>
    <!-- Header fragment containing navbar -->
	<div th:replace="/fragments/header :: header"></div>

    <!-- Heading banner -->
    <div class="heading-page">
        <section class="page-heading">
            <div class="container">
                <div class="text-content">
                    <h2 th:text="${postById.title}" style="text-transform: capitalize;"></h2>
                </div>
            </div>
        </section>
    </div>

    <!-- Body section containing blog posts and sidebar -->
    <section class="blog-posts">
        <div class="container">
            <div class="row">
                <!-- Blog post -->
                <div class="col-lg-8">
                    <div class="row">
                        <!-- Blog details -->
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <!-- Default image -->
                                    <div th:if="${postById.album == null || #lists.isEmpty(postById.album.photos)}">
                                        <img th:src="@{/images/defaultImage.jpeg}">
                                    </div>
                                    <!-- Image carousel with slide -->
                                    <div th:unless="${postById.album == null || #lists.isEmpty(postById.album.photos)}">
                                        <div th:replace="/fragments/imageCarousel :: imageCarousel (imageList = ${postById.album.photos}, slide = '6000')"></div>
                                    </div>
                                </div>
                                <!-- Post content -->
                                <div class="down-content">
                                    <a>
                                        <h4 th:text="${postById.description}" style="font-weight: 300; font-size: 18x;"></h4>
                                    </a>
                                    <ul class="post-info">
                                        <li>
                                            <a th:href="@{'/user/' + ${postById.user.username}}" th:text="${postById.user.username}"></a>
                                        </li>
                                        <li>
                                            <a th:text="${#temporals.format(postById.createdAt, 'MMMM dd, yyyy')}"></a>
                                        </li>
                                        <li>
                                            <a th:inline = "text">[[${#lists.size(postById.comments)}]] Comments</a>
                                        </li>
                                    </ul>
                                    <p th:utext="${postById.body}" style="font-size: 18px;"></p>
                                    <div class="post-options">
                                        <div class="row">
											<div class="col-6">
												<ul class="post-tags">
													<li><i class="fa fa-tags"></i></li>
													<li>
														<a th:each="tempTag, iterStat : ${postById.tags}" th:href="@{'/tag/' + ${tempTag.id} + '/all'}" th:text="${tempTag.name} + ${!iterStat.last ? ', ' : ''}"></a>
													</li>
												</ul>
											</div>
											<div th:if="${owner == true}" class="col-6" style="text-align: right;">
												<div class="row" style="text-align: right;">
                                                    <a class="btn btn-outline-dark" th:href="@{'/post/update/' + ${postById.id}}">Update</a>
                                                    <form style="width: fit-content;" th:action="@{'/post/delete/' + ${postById.id}}" method="post">
                                                        <button class="btn btn-outline-danger" type="submit">Delete</button>
                                                    </form>
                                                </div>
											</div>
						  				</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Album for the post -->
                        <div class="col-lg-12" th:unless="${postById.album == null}">
                            <div class="sidebar-heading">
                                <h2>
                                    Album
                                </h2>
                            </div>
                            <div class="blog-albums" style="margin-top: 20px;">
                                <!-- Album fragment -->
                                <div th:replace="/fragments/singleAlbum :: album (owner = ${owner}, singleAlbum = ${postById.album})"></div>
                            </div>
                        </div>
                        <!-- Comments -->
                        <div class="col-lg-12">
                            <div class="comments">
                                <div class="sidebar-heading">
                                    <h2 th:inline = "text">
                                        [[${#lists.size(postById.comments)}]] Comments
                                    </h2>
                                </div>
                                <div>
                                    <ul>
                                        <li th:each="tempComment : ${postById.comments}">
                                            <div class="author-thumb">
                                                <div th:if="${tempComment.user.profilePhoto == null}">
                                                    <img th:src="@{/images/defaultUser.png}">
                                                </div>
                                                <div th:unless="${tempComment.user.profilePhoto == null}">
                                                    <img th:src = "@{'/' + ${tempComment.user.profilePhoto.userImagePath}}">
                                                </div>
                                            </div>
                                            <div class="comment-content">
                                                <h4 th:inline = "text">
                                                    <div class="row">
                                                        <div class="col-8">
                                                            <a class="user" th:href="@{'/user/' + ${tempComment.user.username}}" th:text = "${tempComment.user.username}"></a>
                                                            <span th:text="${#temporals.format(postById.createdAt, 'MMMM dd, yyyy')}"></span>
                                                        </div>
                                                        <div class="col-4" th:if="${#authentication.getPrincipal() != null}"  style="text-align: right;">
                                                            <div th:if="${owner == true || tempComment.user.username == currentUsername}">
                                                                <form th:action="@{'/comment/delete/' + ${tempComment.id}}" method="POST">
                                                                    <input type="hidden" name="postId" th:value="${postById.id}">
                                                                    <button style="margin-right: 10px;" class="btn btn-outline-danger" type="submit">Delete</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </h4>
                                                <p th:text="${tempComment.body}"></p>
                                            </div>
                                        </li>                                  
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Submit comment form -->
                        <div class="col-lg-12">
                            <div class="sidebar-item submit-comment"> <!-- submit-comment -->
                                <div class="sidebar-heading">
                                    <h2>
                                        Your comment
                                    </h2>
                                </div>
                                <div class="content" sec:authorize="!isAuthenticated()">
                                    <p style="font-size: 18px;">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true" style="font-size: 18px;"></i>
                                        Please login or register to add a comment.
                                    </p>
                                </div>
                                <div class="content" sec:authorize="isAuthenticated()">
                                    <form th:action="@{/comment/save(postId=${postById.id})}" method="POST" th:object="${comment}">
                                        <input type="hidden" th:field="*{id}">

                                        <!-- Body field -->
                                        <div class="form-group">
                                            <textarea type="text" th:field="*{body}" name="body" id="bodyInp" class="form-control" placeholder="Type your comment"></textarea>
                                        </div>
                                        <div th:if="${#fields.hasErrors('body')}" style="margin-bottom: 5px;" class="text-danger">
                                            <ul>
                                              <li th:each="err : ${#fields.errors('body')}" th:text="${err}"></li>
                                            </ul>
                                          </div>
                                        <!-- Submit button -->
                                        <button class="btn-comment" name="submit" id="submit" type="submit">
                                            Submit
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sidebar -->
				<div th:replace="/fragments/sidebar :: sidebar (latestPosts = ${latestPosts}, allTags = ${allTags})"></div>
            </div>
        </div>
    </section>

    <!-- Footer fragment -->
	<div th:replace="/fragments/footer :: footer"></div>
</body>
</html>