<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Header fragment containing css and js imports -->
	  <div th:replace="/fragments/header :: header-css"></div>
    <title>New album</title>

</head>

<body>
    <!-- Header fragment containing navbar -->
	  <div th:replace="/fragments/header :: header"></div>

    <!-- Heading banner -->
    <div class="heading-page">
      <section class="page-heading">
          <div class="container">
            <div class="text-content">
              <h2 style="text-transform: capitalize;">
                New album
              </h2>
            </div>
          </div>
      </section>
  </div>

  <!-- Body section containig album form and sidebar -->
  <section class="blog-posts">
    <div class="container">
      <div class="row">
        <!-- album form -->
        <div class="col-lg-8">
          <div class="row">
            <div class="new-form">
              <p>
                Add a new album
              </p>
              <hr>
              <form th:action="@{/album/save(update=${update})}" method="POST" th:object="${album}" enctype="multipart/form-data">
                  <input type="hidden" th:field="*{id}"/>

                  <!-- Title field -->
                  <div class="form-group">
                    <label for="titleInp">Title</label>
                    <input type="text" th:field="*{name}" name="name" id="titleInp" class="form-control" placeholder="Name">
                  </div>
                  <div th:if="${#fields.hasErrors('name')}" style="margin-bottom: 5px;" class="text-danger">
                    <ul>
                      <li th:each="err : ${#fields.errors('name')}" th:text="${err}"></li>
                    </ul>
                  </div>
                  <!-- Description field -->
                  <div class="form-group">
                    <label for="descriptionInp">Description</label>
                    <textarea name="description" th:field="*{description}" id="descriptionInp" class="textarea form-control" placeholder="Description"></textarea>
                  </div>
                  <div th:if="${#fields.hasErrors('description')}" style="margin-bottom: 5px;" class="text-danger">
                    <ul>
                      <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                    </ul>
                  </div>
                  <!-- Album -->
                  <div class="form-group">
                    <!-- Images in album (only shown for new post) -->
                    <label th:if="${update == false}">Add image(s) to album</label>
                    <div th:if="${update == false}" class="imageInput">
                      <div id="imageList">
                        <input type="file" name="image" accept="image/png, image/jpg, image/jpeg" />
                      </div>
                      <button type="button" id="addImage" onclick="addImageInput()">
                        Add another image
                      </button>
                    </div>
                  </div>
                  <!-- Submit Button -->
                  <button name="submit" id="submit" class="btn btn-outline-dark btn-block" style="margin-top: 50px;" type="submit">
                    Submit
                  </button>
              </form>
            </div>
          </div>
        </div>
        <!-- Sidebar fragment -->
        <div th:replace="/fragments/sidebar :: sidebar (latestPost = ${latestPost}, allTag = ${allTag})"></div>
      </div>
    </div>
  </section>

  <!-- Footer fragment -->
  <div th:replace="/fragments/footer :: footer"></div>

  <script>
    function addImageInput() {
      var imageInput = document.createElement("input");
      imageInput.setAttribute("type", "file");
      imageInput.setAttribute("name", "image");
      imageInput.setAttribute("accept", "image/png, image/jpg, image/jpeg");

      document.getElementById("imageList").appendChild(imageInput);
    }
  </script>

</body>

</html>