<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<!-- Header fragment containing css and js imports -->
	<div th:replace="/fragments/header :: header-css"></div>
	<title>Travel Blog</title>
</head>

<body>
	<!-- Header fragment containing navbar -->
	<div th:replace="/fragments/header :: header"></div>

	<!-- Heading banner -->
    <div class="heading-page">
        <section class="page-heading">
            <div class="container">
                <div class="text-content">
                    <h2 style="text-transform: capitalize;">
						Home Page
					</h2>
                </div>
            </div>
        </section>
    </div>

	<!-- Can put a scrolling banner -->
	

	<!-- Body section containg blog posts and sidebar -->
	<section class="blog-posts">
		<div class="container">
			<div class="row">
				<!-- Blog posts -->
				<div class="col-lg-8">
					<div class="row">
						<!-- Individual blog posts -->
				  		<div class="col-lg-12" th:each="tempPost : ${randomPosts}">
							<div th:replace="/fragments/singlePost :: post (slide = 'false', singlePost = ${tempPost}, owner = false)"></div>
				  		</div>
						<!-- All posts button -->
				  		<div class="col-lg-12">
							<div class="main-button">
					  			<a th:href="@{/post}">
									View All Posts
								</a>
							</div>
				  		</div>
			  		</div>
				</div>
				<!-- Sidebar fragment -->
				<div th:replace="/fragments/sidebar :: sidebar (latestPosts = ${latestPosts}, allTags = ${allTags})"></div>
		  	</div>
		</div>
	  </section>

	  <!-- Footer fragment -->
	  <div th:replace="/fragments/footer :: footer"></div>
</body>

</html>









