<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<!-- Header fragment containing css and js imports -->
	<div th:replace="/fragments/header :: header-css"></div>
	<title>Travel Blog</title>
</head>

<body>
	<!-- Header fragment containing navbar -->
	<div th:replace="/fragments/header :: header"></div>

	<!-- Heading banner -->
    <div class="heading-page">
        <section class="page-heading">
            <div class="container">
                <div class="text-content">
                    <h2 style="text-transform: capitalize;">
						Home Page
					</h2>
                </div>
            </div>
        </section>
    </div>

	<!-- Can put a scrolling banner -->
	

	<!-- Body section containg blog posts and sidebar -->
	<section class="blog-posts">
		<div class="container">
			<div class="row">
				<!-- Blog posts -->
				<div class="col-lg-8">
					<div class="row">
						<!-- Individual blog posts -->
				  		<div class="col-lg-12" th:each="tempRandomPost : ${randomPost}">
							<div class="blog-post">
					  			<div class="blog-thumb">
									<a th:href="@{'/post/' + ${tempRandomPost.id}}">
										<!-- Default image -->
										<div th:if="${tempRandomPost.album == null || tempRandomPost.album.photos == null}">
											<img th:src="@{/images/defaultImage.jpeg}">
										</div>
										<!-- Image carousel without slide -->
										<div th:unless="${tempRandomPost.album == null || tempRandomPost.album.photos == null}">
											<div th:replace="/fragments/imageCarousel :: imageCarousel (imageList = ${tempRandomPost.album.photos}, slide = 'false')"></div>
										</div>
									</a>
								</div>
					  			<div class="down-content">
									<a th:href="@{'/post/' + ${tempRandomPost.id}}">
										<h4 th:text="${tempRandomPost.title}"></h4>
									</a>
									<ul class="post-info">
						  				<li>
											<a th:href="@{'/user/' + ${tempRandomPost.user.username}}" th:text="${tempRandomPost.user.username}"></a>
										</li>
						  				<li>
											<a th:text="${#temporals.format(tempRandomPost.createdAt, 'MMMM dd, yyyy')}"></a>
										</li>
						  				<li>
											<a th:inline = "text">[[${#lists.size(tempRandomPost.comments)}]] Comments</a>
										</li>
									</ul>
									<p th:text="${tempRandomPost.description}"></p>
									<div class="post-options">
						  				<div class="row">
							  				<ul class="post-tags">
												<li><i class="fa fa-tags"></i></li>
												<li>
													<a th:each="tempTag, iterStat : ${tempRandomPost.tags}" th:href="@{'/tag/' + ${tempTag.id} + '/all'}" th:text="${tempTag.name} + ${!iterStat.last ? ', ' : ''}"></a>
												</li>
											</ul>
						  				</div>
									</div>
					  			</div>
							</div>
				  		</div>
						<!-- All posts button -->
				  		<div class="col-lg-12">
							<div class="main-button">
					  			<a th:href="@{/post}">
									View All Posts
								</a>
							</div>
				  		</div>
			  		</div>
				</div>
				<!-- Sidebar fragment -->
				<div th:replace="/fragments/sidebar :: sidebar (latestPost = ${latestPost}, allTag = ${allTag})"></div>
		  	</div>
		</div>
	  </section>

	  <!-- Footer fragment -->
	  <div th:replace="/fragments/footer :: footer"></div>
</body>

</html>









