<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<!-- Header fragment containing css and js imports -->
	<div th:replace="/fragments/header :: header-css"></div>
	<title>Travel Blog</title>
	<style>
		
	</style>
</head>

<body>
	<!-- Header fragment containing navbar -->
	<div th:replace="/fragments/header :: header"></div>


	<!-- Body section containg blog posts and sidebar -->
	<section class="blog-posts">
		<div class="container">
			<div class="row">
				<!-- Blog posts -->
				<div class="col-lg-8">
					<div class="row">
						<!-- Individual blog posts -->
				  		<div class="col-lg-12" th:each="tempRandomPost : ${randomPost}">
							<div class="blog-post">
					  			<div class="blog-thumb">
									<img class="post-img" src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Travel_Insights_with_Google_Hero_Image_1.max-1000x1000.jpg" alt="">
					  			</div>
					  			<div class="down-content">
									<a th:href="@{/}">
										<h4 th:text="${tempRandomPost.title}"></h4>
									</a>
									<ul class="post-info">
						  				<li>
											<a th:href="@{/}" th:text="${tempRandomPost.user.username}"></a>
										</li>
						  				<li>
											<a th:href="@{/}" th:text="${#temporals.format(tempRandomPost.createdAt, 'MMMM dd, yyyy')}"></a>
										</li>
						  				<li>
											<a th:href="@{/}">12 Comments</a>
										</li>
									</ul>
									<p th:text="${tempRandomPost.description}"></p>
									<div class="post-options">
						  				<div class="row">
							  				<ul class="post-tags">
												<li><i class="fa fa-tags"></i></li>
												<li>
													<a th:each="tempTag, iterStat : ${tempRandomPost.tag}" th:text="${tempTag.name} + ${!iterStat.last ? ', ' : ''}"></a>
												</li>
											</ul>
						  				</div>
									</div>
					  			</div>
							</div>
				  		</div>
						<!-- All posts button -->
				  		<div class="col-lg-12">
							<div class="main-button">
					  			<a th:href="@{/post}">
									View All Posts
								</a>
							</div>
				  		</div>
			  		</div>
				</div>

				<!-- Sidebar -->
				<div class="col-lg-4">
			  		<div class="sidebar">
						<div class="row">
				  			<!-- Recent posts column -->
				 			<div class="col-lg-12">
								<div class="sidebar-item recent-posts">
					  				<div class="sidebar-heading">
										<h2>
											Recent Posts
										</h2>
					  				</div>
					  				<div class="content">
										<ul>
											<!-- Individual latest post -->
						  					<li th:each="tempLatestPost : ${latestPost}">
												<a th:href="@{/}">
													<h5 th:text="${tempLatestPost.title}"></h5>
													<span th:text="${#temporals.format(tempLatestPost.createdAt, 'MMMM dd, yyyy')}"></span>
						  						</a>
											</li>
										</ul>
					  				</div>
								</div>
				  			</div>
				  			<div class="col-lg-12">
								<div class="sidebar-item categories">
					  				<div class="sidebar-heading">
										<h2>
											Categories
										</h2>
					  				</div>
					  				<div class="content">
										<ul>
						  					<li><a href="#">- Nature Lifestyle</a></li>
						  					<li><a href="#">- Awesome Layouts</a></li>
						  					<li><a href="#">- Creative Ideas</a></li>
						  					<li><a href="#">- Responsive Templates</a></li>
						  					<li><a href="#">- HTML5 / CSS3 Templates</a></li>
						  					<li><a href="#">- Creative &amp; Unique</a></li>
										</ul>
					  				</div>
								</div>
				  			</div>
				  			<div class="col-lg-12">
								<div class="sidebar-item tags">
					  				<div class="sidebar-heading">
										<h2>Tag Clouds</h2>
					  				</div>
					  				<div class="content">
										<ul>
						  					<li><a href="#">Lifestyle</a></li>
						  					<li><a href="#">Creative</a></li>
						  					<li><a href="#">HTML5</a></li>
						  					<li><a href="#">Inspiration</a></li>
						  					<li><a href="#">Motivation</a></li>
						  					<li><a href="#">PSD</a></li>
						  					<li><a href="#">Responsive</a></li>
										</ul>
					  				</div>
								</div>
				  			</div>
						</div>
			  		</div>
				</div>
		  	</div>
		</div>
	  </section>

	  <!-- Footer fragment -->
	  <div th:replace="/fragments/footer :: footer"></div>
</body>

</html>









