<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <!-- Header fragment containing css and js imports -->
	<div th:replace="/fragments/header :: header-css"></div>
	<title>Travel Blog - Blog entries</title>
</head>
<body>
    <!-- Header fragment containing navbar -->
	<div th:replace="/fragments/header :: header"></div>

    <!-- Heading banner -->
    <div class="heading-page">
        <section class="page-heading">
            <div class="container">
                <div class="text-content">
                    <h2 th:text="${postById.title}" style="text-transform: capitalize;"></h2>
                </div>
            </div>
        </section>
    </div>

    <!-- Body section containing blog posts and sidebar -->
    <section class="blog-posts grid-system">
        <div class="container">
            <div class="row">
                <!-- Blog post -->
                <div class="col-lg-8">
                    <div class="row">
                        <!-- Blog details -->
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Travel_Insights_with_Google_Hero_Image_1.max-1000x1000.jpg" alt="">
                                </div>
                                <div class="down-content">
                                    <a>
                                        <h4 th:text="${postById.description}" style="font-weight: 300; font-size: 18x;"></h4>
                                    </a>
                                    <ul class="post-info">
                                        <li>
                                            <!-- Have to add link for user profile page -->
                                            <a th:href="@{/}" th:text="${postById.user.username}"></a>
                                        </li>
                                        <li>
                                            <a th:text="${#temporals.format(postById.createdAt, 'MMMM dd, yyyy')}"></a>
                                        </li>
                                        <li>
                                            <a th:inline = "text">[[${#lists.size(postById.comment)}]] Comments</a>
                                        </li>
                                    </ul>
                                    <p th:utext="${postById.body}" style="font-size: 18px;"></p>
                                    <div class="post-options">
                                        <div class="row">
											<div class="col-6">
												<ul class="post-tags">
													<li><i class="fa fa-tags"></i></li>
													<li>
														<a th:each="tempTag, iterStat : ${postById.tag}" th:href="@{'/post/tag/' + ${tempTag.id}}" th:text="${tempTag.name} + ${!iterStat.last ? ', ' : ''}"></a>
													</li>
												</ul>
											</div>
											<div th:if="${owner}" class="col-6" style="text-align: right;">
												<a class="btn btn-outline-dark" th:href="@{'/post/update/' + ${postById.id}}">Update</a>
												<a class="btn btn-outline-danger" th:href="@{/}">Delete</a>
											</div>
						  				</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Comments -->
                        <div class="col-lg-12">
                            <div class="sidebar-item comments">
                                <div class="sidebar-heading">
                                    <h2 th:inline = "text">
                                        [[${#lists.size(postById.comment)}]] Comments
                                    </h2>
                                </div>
                                <div>
                                    <ul>
                                        <li th:each="tempComment : ${postById.comment}">
                                            <div class="author-thumb">
                                                <!-- Have to work on images -->
                                                <img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Travel_Insights_with_Google_Hero_Image_1.max-1000x1000.jpg" alt="">
                                            </div>
                                            <div class="comment-content">
                                                <h4 th:inline = "text">
                                                    <!-- Have to add link for user profile page -->
                                                    <a th:href="@{/}" th:text = "${tempComment.user.username}"></a>
                                                    <span th:text="${#temporals.format(postById.createdAt, 'MMMM dd, yyyy')}"></span>
                                                </h4>
                                                <p th:text="${tempComment.body}"></p>
                                            </div>
                                        </li>                                  
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <form th:action="@{/comment/save(postId=${postById.id})}" method="POST" th:object="${comment}">
                                    <input type="hidden" th:field="*{id}">

                                    <!-- Body field -->
                                    <div class="form-group">
                                        <input type="text" th:field="*{body}" name="body" id="bodyInp" class="form-control" placeholder="Body">
                                    </div>
                                    <!-- Submit button -->
                                    <button name="submit" id="submit" type="submit">
                                        Submit
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sidebar -->
                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="row">
                            <!-- Recent posts column -->          
                            <div class="col-lg-12">
                                <div class="sidebar-item recent-posts">
                                    <div class="sidebar-heading">
                                        <h2>
                                            Recent Posts
                                        </h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <!-- Individual latest post -->
						  					<li th:each="tempLatestPost : ${latestPost}">
												<a th:href="@{'/post/' + ${tempLatestPost.id}}">
													<h5 th:text="${tempLatestPost.title}"></h5>
													<span th:text="${#temporals.format(tempLatestPost.createdAt, 'MMMM dd, yyyy')}"></span>
						  						</a>
											</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- This part left start -->
                            <div class="col-lg-12">
                                <div class="sidebar-item categories">
                                    <div class="sidebar-heading">
                                        <h2>Categories</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li><a href="#">- Nature Lifestyle</a></li>
                                            <li><a href="#">- Awesome Layouts</a></li>
                                            <li><a href="#">- Creative Ideas</a></li>
                                            <li><a href="#">- Responsive Templates</a></li>
                                            <li><a href="#">- HTML5 / CSS3 Templates</a></li>
                                            <li><a href="#">- Creative &amp; Unique</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- This part left end -->
                            <div class="col-lg-12">
                                <div class="sidebar-item tags">
                                    <div class="sidebar-heading">
                                        <h2>Tag Clouds</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li th:each="tempAllTag : ${allTag}">
												<a th:href="@{'/post/tag/' + ${tempAllTag.id}}" th:text="${tempAllTag.name}"></a>
											</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer fragment -->
	<div th:replace="/fragments/footer :: footer"></div>
</body>
</html>