<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Header fragment containing css and js imports -->
	  <div th:replace="/fragments/header :: header-css"></div>
    <title>New post</title>

</head>

<body>
    <!-- Header fragment containing navbar -->
	  <div th:replace="/fragments/header :: header"></div>

    <!-- Heading banner -->
    <div class="heading-page">
      <section class="page-heading">
          <div class="container">
            <div class="text-content">
              <h2 style="text-transform: capitalize;">
                New post
              </h2>
            </div>
          </div>
      </section>
  </div>

  <!-- Body section containig post form and sidebar -->
  <section class="blog-posts">
    <div class="container">
      <div class="row">
        <!-- Post form -->
        <div class="col-lg-8">
          <div class="row">
            <div class="new-form">
              <p>
                Add a new post
              </p>
              <hr>
              <form th:action="@{/post/save(update=${update})}" method="POST" th:object="${post}" enctype="multipart/form-data">
                  <input type="hidden" th:field="*{id}"/>

                  <!-- Title field -->
                  <div class="form-group">
                    <label for="titleInp">Title</label>
                    <input type="text" th:field="*{title}" name="title" id="titleInp" class="form-control" placeholder="Title">
                  </div>
                  <div th:if="${#fields.hasErrors('title')}" style="margin-bottom: 5px;" class="text-danger">
                    <ul>
                      <li th:each="err : ${#fields.errors('title')}" th:text="${err}"></li>
                    </ul>
                  </div>
                  <!-- Description field -->
                  <div class="form-group">
                    <label for="descriptionInp">Description</label>
                    <textarea name="description" th:field="*{description}" id="descriptionInp" class="textarea form-control" placeholder="Description"></textarea>
                  </div>
                  <div th:if="${#fields.hasErrors('description')}" style="margin-bottom: 5px;" class="text-danger">
                    <ul>
                      <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                    </ul>
                  </div>
                  <!-- Body field -->
                  <div class="form-group">
                    <label for="bodyInp">Body</label>
                    <textarea type="text" th:field="*{body}" name="body" id="bodyInp" class="form-control" placeholder="Body"></textarea>
                  </div>
                  <div th:if="${#fields.hasErrors('body')}" style="margin-bottom: 5px;" class="text-danger">
                    <ul>
                      <li th:each="err : ${#fields.errors('body')}" th:text="${err}"></li>
                    </ul>
                  </div>
                  <!-- Tags -->
                  <div class="form-group">
                    <label>Tags</label>
                    <br>
                    <th:block th:each="tempTag : ${allTag}">
                        <div class="btn-group btn-group-toggle btn-check" data-toggle="buttons">
                          <label class="btn btn-outline-success" th:inline = "text" style="text-transform: capitalize;">
                            <input th:checked = "${#lists.contains(post.tags, tempTag)}" type="checkbox" name="tgs" th:value="${tempTag.id}">
                            [[${tempTag.name}]]
                          </label>
                        </div>
                    </th:block>
                  </div>
                  <!-- Album -->
                  <div class="form-group">
                    <label>Album</label>
                    <br>
                    <div class="form-row">
                      <div class="col-4">
                        <input type="text" class="form-control" th:field="*{album.name}" placeholder="Album name">
                      </div>
                      <div class="col">
                        <textarea rows="1" type="text" class="form-control" th:field="*{album.description}" placeholder="Album description" />
                      </div>
                    </div>
                    <!-- Images in album (only shown for new post) -->
                    <label>Add image(s) to album</label>
                    <div th:if="${update == false}" class="imageInput">
                      <div id="imageList">
                        <input type="file" name="image" accept="image/png, image/jpg, image/jpeg" />
                      </div>
                      <button type="button" id="addImage" onclick="addImageInput()">
                        Add another image
                      </button>
                    </div>
                  </div>
                  <!-- Submit Button -->
                  <button name="submit" id="submit" class="btn btn-outline-dark btn-block" style="margin-top: 50px;" type="submit">
                    Submit
                  </button>
              </form>
            </div>
          </div>
        </div>
        <!-- Sidebar fragment -->
        <div th:replace="/fragments/sidebar :: sidebar (latestPost = ${latestPost}, allTag = ${allTag})"></div>
      </div>
    </div>
  </section>

  <!-- Footer fragment -->
  <div th:replace="/fragments/footer :: footer"></div>

  <script>
    $('#bodyInp').summernote({
      height: 200
    });

    function addImageInput() {
      var imageInput = document.createElement("input");
      imageInput.setAttribute("type", "file");
      imageInput.setAttribute("name", "image");
      imageInput.setAttribute("accept", "image/png, image/jpg, image/jpeg");

      document.getElementById("imageList").appendChild(imageInput);
    }
  </script>

</body>

</html>