<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<title>Travel Blog - Register</title>
	
	<!-- Header fragment containing css and js imports -->
	<div th:replace="/fragments/header :: header-css"></div>

</head>

<body>
	<!-- Header fragment containing navbar -->
	<div th:replace="/fragments/header :: header"></div>

	<!-- Register card -->
	<section class="log-reg-page">
		<div class="container">
			<div class="card log-reg-card">
				<div class="row">
			  		<div class="col-md-5">
						<img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Travel_Insights_with_Google_Hero_Image_1.max-1000x1000.jpg" alt="register" class="log-reg-card-img">
			  		</div>
			  		<div class="col-md-7 scroll">
						<div class="card-body">
							<p class="log-reg-card-description">
								Register a new account
							</p>
				  			<form enctype="multipart/form-data" th:action="@{/register}" th:object="${user}" method="POST">
								<!-- Errors, alerts etc -->
								<div class="form-group">
									<div>
										<!-- Registration error -->
										<div th:if="${registrationError}" class="alert alert-danger">
											<span th:text="${registrationError}"></span>
										</div>
									</div>
								</div>
								<hr>
								<!-- Profile Photo -->
								<div class="form-group">
									<label>Profile Photo : </label>
									<input type="file" name="profile" accept="image/png, image/jpg, image/jpeg" />
					  			</div>
								<!-- Username field -->
					  			<div class="form-group">
									<input type="text" th:field="*{username}" name="username" id="textinp" class="form-control" placeholder="Username">
					  			</div>
								<div th:if="${#fields.hasErrors('username')}" style="margin-bottom: 5px" class="text-danger">
								<ul>
							  		<li th:each="err : ${#fields.errors('username')}" th:text="${err}" />
								</ul>						
								</div>
								<!-- Password field -->
					  			<div class="form-group mb-4">
									<input type="password" th:field="*{password}" name="password" id="password" class="form-control" placeholder="***********">
					  			</div>
								<div th:if="${#fields.hasErrors('password')}" style="margin-bottom: 5px" class="text-danger">
								<ul>
							  		<li th:each="err : ${#fields.errors('password')}" th:text="${err}" />
								</ul>						
								</div>	
								<!-- First name field -->
								<div class="form-group">
									<input type="text" th:field="*{firstName}" name="firstName" id="textinp" class="form-control" placeholder="First Name">
					  			</div>
								<div th:if="${#fields.hasErrors('firstName')}" style="margin-bottom: 5px" class="text-danger">
								<ul>
							  		<li th:each="err : ${#fields.errors('firstName')}" th:text="${err}" />
								</ul>						
								</div>
								<!-- Last name field -->
								<div class="form-group">
									<input type="text" th:field="*{lastName}" name="lastName" id="textinp" class="form-control" placeholder="Last Name">
					  			</div>
								<div th:if="${#fields.hasErrors('lastName')}" style="margin-bottom: 5px" class="text-danger">
								<ul>
							  		<li th:each="err : ${#fields.errors('lastName')}" th:text="${err}" />
								</ul>						
								</div>
								<!-- Email field -->
								<div class="form-group">
									<input type="email" th:field="*{email}" name="email" id="textinp" class="form-control" placeholder="Email id">
					  			</div>
								<div th:if="${#fields.hasErrors('email')}" style="margin-bottom: 5px" class="text-danger">
								<ul>
							  		<li th:each="err : ${#fields.errors('email')}" th:text="${err}" />
								</ul>						
								</div>
								<!-- Submit button -->
					  			<button name="register" id="register" class="btn btn-block log-reg-btn mb-4" type="submit">
									Register
								</button>
							</form>
							<p class="log-reg-card-footer-text">
								Already have an account? 
								<a th:href="@{/login}" class="text-reset">
									Login here
								</a>
							</p>
							<nav class="log-reg-card-footer-nav">
					  			<a href="#!">
									Terms of use.
								</a>
					  			<a href="#!">
									Privacy policy
								</a>
							</nav>
						</div>
			  		</div>
				</div>
		  	</div>
		</div>
	</section>

	<!-- Footer fragment -->
	<div th:replace="/fragments/footer :: footer"></div>
</body>
</html>