<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<!-- Header fragment containing css and js imports -->
	<div th:replace="/fragments/header :: header-css"></div>
	<title>Travel Blog - User posts</title>
	<style>
		
	</style>
</head>

<body>
	<!-- Header fragment containing navbar -->
	<div th:replace="/fragments/header :: header"></div>

	<!-- Heading banner -->
    <div class="heading-page">
        <section class="page-heading">
            <div class="container">
                <div class="text-content">
                    <h2 style="text-transform: capitalize;">
						Blog entries by - 
						<span style="text-transform: none;" th:text="${username}"></span>
					</h2>
                </div>
            </div>
        </section>
    </div>

	<!-- Can put a scrolling banner -->
	

	<!-- Body section containg blog posts and sidebar -->
	<section class="blog-posts">
		<div class="container">
			<div class="row">
				<!-- Blog posts -->
				<div class="col-lg-8">
					<div class="row">
						<!-- Add post button -->
						<div class="col-lg-12" th:if="${owner}">
							<div class="main-button" style="margin-bottom: 25px;">
					  			<a th:href="@{/post/new}" style="font-size: 20px;">
									Create a new post
								</a>
							</div>
				  		</div>
						<!-- Individual blog posts -->
				  		<div class="col-lg-12" th:each="tempAllPost : ${allPosts}">
							<div class="blog-post">
					  			<div class="blog-thumb">
									<a th:href="@{'/post/' + ${tempAllPost.id}}">
										<!-- Default image -->
										<div th:if="${tempAllPost.album == null || #lists.isEmpty(tempAllPost.album.photos)}">
											<img th:src="@{/images/defaultImage.jpeg}">
										</div>
										<!-- Image carousel without slide -->
										<div th:unless="${tempAllPost.album == null || #lists.isEmpty(tempAllPost.album.photos)}">
											<div th:replace="/fragments/imageCarousel :: imageCarousel (imageList = ${tempAllPost.album.photos}, slide = 'false')"></div>
										</div>
									</a>
								</div>
					  			<div class="down-content">
									<a th:href="@{'/post/' + ${tempAllPost.id}}">
										<h4 th:text="${tempAllPost.title}"></h4>
									</a>
									<ul class="post-info">
						  				<li>
											<a th:href="@{'/user/' + ${tempAllPost.user.username}}" th:text="${tempAllPost.user.username}"></a>
										</li>
						  				<li>
											<a th:text="${#temporals.format(tempAllPost.createdAt, 'MMMM dd, yyyy')}"></a>
										</li>
						  				<li>
											<a th:inline = "text">[[${#lists.size(tempAllPost.comments)}]] Comments</a>
										</li>
									</ul>
									<p th:text="${tempAllPost.description}"></p>
									<div class="post-options">
						  				<div class="row">
											<div class="col-6">
												<ul class="post-tags">
													<li><i class="fa fa-tags"></i></li>
													<li>
														<a th:each="tempTag, iterStat : ${tempAllPost.tags}" th:href="@{'/tag/' + ${tempTag.id} + '/all'}" th:text="${tempTag.name} + ${!iterStat.last ? ', ' : ''}"></a>
													</li>
												</ul>
											</div>
											<div th:if="${owner}" class="col-6" style="text-align: right;">
												<a class="btn btn-outline-dark" th:href="@{'/post/update/' + ${tempAllPost.id}}">Update</a>
												<a class="btn btn-outline-danger" th:href="@{/}">Delete</a>
											</div>
						  				</div>
									</div>
					  			</div>
							</div>
				  		</div>
			  		</div>
				</div>

				<!-- Sidebar fragment -->
				<div th:replace="/fragments/sidebar :: sidebar (latestPosts = ${latestPosts}, allTags = ${allTags})"></div>
		  	</div>
		</div>
	  </section>

	  <!-- Footer fragment -->
	  <div th:replace="/fragments/footer :: footer"></div>
</body>

</html>









